* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body, input, textarea {
font-family: 'Baloo 2', cursive;
}

.containercontactus {
position: relative;
width: 100%;
min-height: 100vh;
padding: 2rem;
background-color: #fafafa;
overflow:hidden;
display: flex;
align-items: center;
justify-content: center;

}
.form {
width: 100%;
max-width: 820px;
background-color: #fff;
border-radius: 10px;
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
z-index: 1000;
overflow: hidden;
display: grid;
grid-template-columns: repeat(2, 1fr);
}
.contact-form {
background-color: #fff;

position: relative;
}
form {
padding: 2.3rem 2.2rem;
z-index: 10;
overflow: hidden;
position: relative;
}
.title {
color: black;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
margin-bottom: 0.7rem;
}
.input-container {
position: relative;
margin: 1rem 0;
}

.input {
width: 100%;
outline: none;
border: 1px solid #fafafa;
background: #fafafa;
padding: 0.6rem 1.2rem;
color: black;
font-size: 0.88rem;
letter-spacing: 0.5px;
border-radius: 5px;
transition: 0.3s;
}
textarea.input {
padding: 0.8rem 1.2rem;
min-height: 150px;
border-radius: 5px;
resize: none;
overflow-y: auto;
}
.input-container label {
position: absolute;
top: 50%;
left: 15px;
transform: translateY(-50%);
padding: 0 0.4rem;
color: black;
font-size: 0.9rem;
font-weight: 400;
pointer-events: none;
z-index: 1000;
transition: 0.5;
}
.input-container.textarea label {
top: 1rem;
transform: translateY(0);
}
.btn {
padding: 0.6rem 1.3rem !important;
background-color: black !important;
border: 2px solid #fafafa !important;
font-size: 0.95rem !important;
color: #fff !important;
line-height: 1 !important;
border-radius: 5px !important;
outline: none !important;
cursor: pointer !important;
transition: 0.3s !important;
margin: 0 !important;

}
.btntwo {
    padding: 0.6rem 1.3rem !important;
    background-color: #fff !important;
    border: 2px solid #fff !important;
    font-size: 0.95rem !important;
    color: black !important;
    line-height: 1 !important;
    border-radius: 5px !important;
    outline: none !important;
    cursor: pointer !important;
    transition: 0.3s !important;
    margin: 0 !important;
    float: right;
    
    }
/*
.btn:hover {
background-color: transparent !important;
color: #fff !important;

}
*/
.input-container span {
position: absolute;
top: 0;
left: 25px;
transform: translateY(-50%);
font-size: 0.8rem;
padding: 0 0.4rem;
color: transparent;
pointer-events: none;
z-index: 500;

}
.input-container span:before,
.input-container span:after {
content: "";
position: absolute;
width: 10%;
opacity: 0; 
transition: 0.3s;
height: 5px;
background-color: #fff;
top: 50%;
transform: translateY(-50%);
}
.input-container span:before {
left: 50%;

}
.input-container span:after {
right: 50%;
}
.input-container.focus label {
top: 0;
transform: translateY(-50%);
left: 25px;
font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
width: 50%;
opacity: 1;

}
.contact-info {
padding: 2.3em 2.2em; 
position: relative;

}
.contact-info .title {
color: black;
}
.text {
color: black;
margin: 1.5rem 0 2rem 0;
}
.information {
display: flex;
color: #555;
margin: 0.7rem 0;
align-items: center;
}
.icon {
width: 28px;
margin-right: 0.7rem;
margin-bottom: 1rem;

}
.social-media {
padding: 2rem 0 0 0;
}
.social-media p {
color: #333;
}
.social-icons {
display: flex;
margin-top: 0.5rem;
}
.social-icons a {
width: 35px;
height: 35px;
border-radius: 18px;
background: linear-gradient(45deg, black, black);
color: #fff;
text-align: center;
line-height: 35px;
margin-right: 0.5rem;
transition: .3s;   

}
.social-icons a:hover {
transform: scale(1.05);
}
.header {
height:450px !important;
background-size:180% !important;



}
.row h1 {
    font-size: 39px !important;
}

@media (max-width:850px){
    .form{
        grid-template-columns: 1fr;
       
    }
    .text {
        margin: 1rm 0 1.5rem 0;
    }
    .social-media {
        padding: 1.5rem 0 0 0;
    }
}
@media only screen and (max-width: 480px){
    
   
    .containercontactus {
        padding: 1.5rem;
      
    }
    
    form, .contact-info {
        padding: 1.7rem 1.6rem;
       
    }
    .text, .information, .social-media p {
        font-size: 0.8rem;

    }
    .title {
        font-size: 1.15rem;
    }
    .social-icon a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .icon {
        width:23px;
    }
    .input {
        padding: 0.45rem 1.2rem;
    }
    .btn {
        padding: 0.45rem 1.2rem;
    }
}






